* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #460065;
  padding: 10px 20px;
}
.nav_buttons {
  display: flex;
  flex-wrap: wrap;
}
.nav_buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
.nav_buttons a:hover {
  color: #d5b268;
}
main {
  background-color: #eeeee4;
}
.mainLogo {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.mainStage {
  padding: 0px 15px;
}
.stageDivider {
  border-top-color: #700000;
  border-left-color: #700000;
  border-bottom-color: red;
  border-right-color: red;
  margin: 10px 0px;
}
.groupsContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}
.groupContainer {
  padding: 0px 5px;
  margin-bottom: 10px;
}
.groupTittle {
  text-align: center;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 0px;
}
.gameContainerA {
  background-color: #F8F8FF;
}
.gameContainerB{
  background-color: white;
}
.time-stadium {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.game {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .mainLogo {
    padding: 25px 0px;
  }
  .mainLogo img {
    max-width: 75%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .mainLogo {
    padding: 25px 0px;
  }
  .mainLogo img {
    max-width: 75%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mainLogo {
    padding: 25px 0px;
  }
  .mainLogo img {
    max-width: 50%;
  }
  .groupContainer{
    min-width:50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mainLogo img {
    max-width: 50%;
  }
  .groupContainer{
    min-width: 33%;
    max-width: 33%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .mainLogo img {
    max-width: 50%;
  }
  .groupContainer{
    min-width: 33%;
    max-width: 33%;
  }
}
@media screen and (min-width: 1400px) {
  .mainLogo img {
    max-width: 50%;
  }
  .groupContainer{
    min-width: 33%;
    max-width: 33%;
  }
}
